/*Roboto*/
@font-face {
  font-family: 'Roboto-Thin';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../../../fonts/Roboto-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../../../fonts/Roboto-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../../../fonts/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../../../fonts/Roboto-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../../../fonts/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../../../fonts/Roboto-Black.ttf) format('truetype');
}
/*Roboto Slab*/
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Slab Thin'), local('RobotoSlab-Thin'), url(../../../fonts/RobotoSlab-Thin.ttf) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'), url(../../../fonts/RobotoSlab-Light.ttf) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(../../../fonts/RobotoSlab-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'), url(../../../fonts/RobotoSlab-Bold.ttf) format('woff');
}
.circle-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.square-small {
  width: 40px;
  height: 40px;
}
.bottom-border {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #006b77;
}
.right-border {
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #006b77;
}
.left-border {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #006b77;
}
.top-border {
  border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: #006b77;
}
.border-dashed-large-gray {
  border-color: #c7c7c7;
  border-width: 1px;
  border-style: dashed;
  width: 100%;
}
@media screen and (min-width: 200px) and (max-width: 500px), screen and (orientation: portrait) {
  .body-wallpaper {
    width: 100%;
    min-height: 100%;
    padding-top: 10%;
    font-size: 6vh;
    position: relative;
    text-align: center;
    color: #006b77;
    background-color: #fff;
  }
}
@media screen and (min-width: 500px) and (orientation: landscape) {
  .body-wallpaper {
    width: 100%;
    min-height: 100%;
    font-family: Roboto;
    position: absolute;
    padding-top: 8%;
    font-size: 5vw;
    display: block;
    text-align: center;
    color: #006b77;
    background-color: #fff;
  }
}
