<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<title>A.M. - Appointment Manager</title>

		<script src="js/jquery-2.2.1.js"></script>
		<script src="js/serializejson.js" type="text/javascript"></script>
		<script src="js/description-tooth-by-tooth-functions.js" type="text/javascript"></script>

        <link href="css/internal/css/style-description-tooth-by-tooth.css" rel="stylesheet"  type="text/css"/>	
	</head>

	<body>        
        <div class="title-label">
            <label class="title-label">Descrição dente a dente</label>
		</div>
		
		<div class="wrapper-block content-description-tooth-by-tooth">

		</div>
	</body>
</html>