<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>A.M. - Appointment Manager</title>

    <script src="js/jquery-2.2.1.js"></script>
    <script src="js/jquery.maskedinput.js" type="text/javascript"></script>
    <script src="js/local-functions.js" type="text/javascript"></script>
    <script src="js/jquery-dateFormat.js" type="text/javascript"></script>
    <script src="js/serializejson.js" type="text/javascript"></script>
    <script src="js/appointments-list-functions.js" type="text/javascript"></script>

    <link href="css/internal/css/style-list.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <input class="invisible" name="list-id" id="list-id" type="text" value="0">
</body>

</html>